.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.list-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > div:first-child {
    margin-top: 30px;
    &:hover {
      margin-top: 25px;
    }
  }

  .styled-card {
    width: 95%;
    transition: 0.3s;
    margin-top: 10px;

    &:hover {
      width: 98%;
      margin-top: 6px;
    }
  }

  .styled-card-area {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr 1fr ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: "#333";
    background-color: #fff;

    width: 100%;
    border-radius: 8px;
    padding: 20px;
    height: 90px;

    font-family: "Poppins", sans-serif;
    color: #333;

    .h3 {
      align-items: flex-start;
    }

    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // background-color: red;

      >p{
        margin-top: 10px;
      }
    }

   
  }
}

.pessoa-area {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 100px;
  padding: 20px;

  border-radius: 0px 0px 20px 20px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.106);

  background-color: #fff;

  @media (max-width: 590px) {
    flex-direction: column;
  }

  .pendencias-pessoa {
    display: flex;
    // background-color: red;
    width: 50%;
    justify-content: space-between;

    @media (max-width: 610px) {
      flex-direction: column;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h5 {
    color: #333;
    margin-right: 8px;
  }

  h3 {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #333;
    margin-right: 20px;
  }

  h4 {
    font-weight: 400;
    color: #777;
  }

  p {
    margin-top: 7px;
    color: #777;
    font-size: 18px;
  }
}

.float-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: 0.2s;

  background-color: #05c059;
  

  width: 55px;
  height: 55px;
  border-radius: 50%;

  &:hover {
    width: 60px;
    height: 60px;
  }
}
